 <html>
<head>
   <title>Ambulance - Ambulance Arriving Time</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
table, th , td {

font-family: 'Roboto', sans-serif;

font-size:14px;
  border: 1px solid #136189;
  text-align: center;
  border-collapse: collapse;
  padding: 5px;
  
  background-color: #EDE9E3 ;

}

th{
color:#FFFFFF;
}

table {
    
    width: 40%;
	<!-- overflow: visible; -->
}
th,td {
    
	width: 9%;
	text-align: center;
	
}
td{
 border: 0px ;
}
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.time {
    width: 100px;
    padding: 10px;
    border: 3px double #136189;
    margin: 0;
}

</style>
<body>

<center>
<br></br>
<br></br>
<br></br>
<table style="width:45%">

  <tr>
    <th style='background-color:#136189;'><center><i class="fa fa-user"></i>&nbsp;Ambulance Arriving Time</center></th>
  </tr>
  
  <tr style="float:right">
    <td><button type="button" onclick="location.href='/adfinallogout'" class="btn btn-primary"><i class="fa fa-user"></i>&nbsp;Log out</button></td>
   </tr>
   <tr>
  <td><br></br>Ambulance arriving in : <span class="time">00:00:00</span></td>
  </tr>
   <tr>
    <td><br></br><button onclick="location.href='/adfinalhome'" type="button" class="btn btn-primary"><i class="fa fa-home"></i>&nbsp;Home</button><br></br><br></br></td>
   </tr>
   
  
</table>

</center>
</body>
</html>
