<!DOCTYPE html>
<html>
<head>
  <title>Ambulance - Driver Login</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
table, th , td {

font-family: 'Roboto', sans-serif;

font-size:14px;
  border: 1px solid #136189;
  text-align: center;
  border-collapse: collapse;
  padding: 5px;
  
  background-color: #EDE9E3 ;

}

table {
    
    width: 40%;
	<!-- overflow: visible; -->
}

th{
color:#FFFFFF;
}

th,td {
    
	width: 9%;
	text-align: center;
	
}
td{
 border: 0px ;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}

</style>

<body>
<center>
<br></br>
<br></br>
<br></br>
<table>
  <tr>
  <th style='background-color:#136189;'><center><i class="fa fa-car"></i>&nbsp;Driver Login</center></th>
  </tr>
  <tr>
  <td>
  <br></br><br></br>
   
  <form id ="form" action="/driver_login" method="post">
  User Id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input id ="userId" type="text" name="firstname" placeholder="Enter your User Id" required>
  <br>
  Password&nbsp;&nbsp;&nbsp;
  <input id ="pwd" type="password" name="lastname" placeholder="********" required>
  <br><br>
  <input id ="signIn" class="btn btn-primary"type="submit" value="Sign In">
  <br></br>
   <br></br><br></br>
  
 </form> 
 </td>
</tr>
</table> 
</center>
<script>
$(document).ready(function(){
$("#signIn").click(function(e){
   if($("#userId").val()=="driver" && $("#pwd").val()=="password" ){

}else if($("#userId").val()!="" && $("#pwd").val()!==''){
    document.getElementById("form").action = window.location.href="./driver_login.html";
}

})
});
</script>
</body>
</html>
